@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.dp {
  position: relative;
  left: 60%;
}
p {
  text-align: end;
  position: relative;
  right: 130px;
  word-spacing: 30px;
  color: #d63231;
  top: -55px;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbe4e4;
}
h3 {
  text-align: center;
}
table {
  width: 1000px;
  border-collapse: collapse;
  background-color: white;
  height: 400px;
  margin-left: 250px;
  border-bottom: 3px solid #d63231;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
tr:nth-child(even) {
  background-color: #f3f3f3;
}
th {
  background-color: #d63231;
  color: white;
  height: 60px;
}
td {
  padding: 22px;
}
